 body{
    text-align:center;
    height: 100%;
    background-color: #404040;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://source.unsplash.com/random/1136x640");
}

#login {
color:white;
text-shadow: 1px 1px 2px gray;
font-size: 16px;
}
